{% extends 'layout.twig' %}

{% block body %}  
  
  <div class="wrap-connexion">
       <form class="form_type" method="" action="">
           <input class="input_type" type="text" name="IATA" placeholder="IATA">
           <input class="input_type" type="text" name="nom_de_la_compagnie" placeholder="Nom de la compagnie">
           <input class="input_type" type="text" name="nom_complet" placeholder="Nom complet">
           <input class="input_type" type="text" name="poids_cabine" placeholder="Poids cabine">
           <input class="input_type" type="text" name="taille_du_bagage_a_main" placeholder="Taille du bagage à main">
           <input class="input_type" type="text" name="taille_soute" placeholder="Taille soute">
           <input class="input_type" type="text" name="Poids_max" placeholder="Poids max. autorisé des bagages en soute">
           <input class="input_type" type="text" name="services" placeholder=" Services à bord">
           <input class="input_type" type="text" name="wifi" placeholder="WIFI">
           <input class="input_type" type="text" name="alliance" placeholder="Alliance">
           <input class="input_type" type="text" name="telephone" placeholder="Numéro de téléphone">
           <input class="input_type" type="text" name="website" placeholder="Site Web">
           <input class="input_type" type="text" name="nationalité" placeholder="Nationalité">
           <input class="input_type" type="text" name="aeroport" placeholder="Aéroport de base">
           <input class="input_type" type="text" name="siege" placeholder="Siège Social">
           <input class="input_type" type="text" name="creation" placeholder="Date de création">
           <input class="input_type" type="text" name="activite" placeholder="Fin d'activité">
           <input class="input_type" type="text" name="ponctualite" placeholder="Ponctualité">
           <input class="input_type" type="text" name="retard" placeholder="Vols retardés">
           <input class="input_type" type="text" name="annule" placeholder="Vols annulés">
           <input class="input_type" type="text" name="age" placeholder="Age moyen de la flotte">
           <input class="input_type" type="text" name="taille" placeholder="Taille de la flotte">
           <input class="input_type" type="text" name="programme" placeholder="Programme de fidelité">
           <input class="input_type" type="text" name="A1" placeholder="Avion 1">
           <input class="input_type" type="text" name="Q1" placeholder="Quantité 1">
           <input class="input_type" type="text" name="A2" placeholder="Avion 2">
           <input class="input_type" type="text" name="Q2" placeholder="Quantité 2">
           <input class="input_type" type="text" name="A3" placeholder="Avion 3">
           <input class="input_type" type="text" name="Q3" placeholder="Quantité 3">
           <input class="input_type" type="text" name="A4" placeholder="Avion 4">
           <input class="input_type" type="text" name="Q4" placeholder="Quantité 4">
           <input class="input_type" type="text" name="A5" placeholder="Avion 5">
           <input class="input_type" type="text" name="Q5" placeholder="Quantité 5">
           <input class="input_type" type="text" name="A6" placeholder="Avion 6">
           <input class="input_type" type="text" name="Q6" placeholder="Quantité 6">
           <input class="input_type" type="text" name="A7" placeholder="Avion 7">
           <input class="input_type" type="text" name="Q7" placeholder="Quantité 7">
           <input class="input_type" type="text" name="A8" placeholder="Avion 8">
           <input class="input_type" type="text" name="Q8" placeholder="Quantité 8">
           <input class="input_type" type="text" name="A9" placeholder="Avion 9">
           <input class="input_type" type="text" name="Q9" placeholder="Quantité 9">
           <input class="input_type" type="text" name="A10" placeholder="Avion 10">
           <input class="input_type" type="text" name="Q10" placeholder="Quantité 10">
           <input class="input_type" type="text" name="A11" placeholder="Avion 11">
           <input class="input_type" type="text" name="Q11" placeholder="Quantité 11">
           <input class="input_type" type="text" name="A12" placeholder="Avion 12">
           <input class="input_type" type="text" name="Q12" placeholder="Quantité 12">
           <input class="input_type" type="text" name="A13" placeholder="Avion 13">
           <input class="input_type" type="text" name="Q13" placeholder="Quantité 13">
           <input class="input_type" type="text" name="A14" placeholder="Avion 14">
           <input class="input_type" type="text" name="Q14" placeholder="Quantité 14">
           <input class="input_type" type="text" name="A15" placeholder="Avion 15">
           <input class="input_type" type="text" name="Q15" placeholder="Quantité 15">
           
           <input type="submit" class="send_button">
       </form> 
   </div>
   
{% endblock %}