<!DOCTYPE html>
<html>
  <head>
   <meta charset="utf-8">
    <title>{{ iata }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
