{% extends 'layout.twig' %}

{% block body %}  
  
  <div class="wrap-connexion">
       <form class="form_type" method="post" action="/admin/login">
           <input class="input_type" type="email" name="mail" placeholder="example@mail.com">
           <input class="input_type" type="password" name="password" placeholder="Password">
           <input type="submit" class="send_button">
       </form> 
   </div>
   
{% endblock %}