{% extends 'layout.twig' %}

{% block body %}  
  
  <div class="wrap-connexion">
       <form class="form_type" method="" action="">
           <input class="input_type" type="text" name="login" placeholder="Login">
           <input class="input_type" type="text" name="password" placeholder="Password">
           <input type="submit" class="send_button">
       </form> 
   </div>
   
{% endblock %}